<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerServices" />
                <binding name="BasicHttpBinding_IEmployeeServices" />
                <binding name="BasicHttpBinding_IProductServices" />
                <binding name="BasicHttpBinding_ISupplierServices" />
                <binding name="BasicHttpBinding_IInvoiceServices" />
                <binding name="BasicHttpBinding_IOrderServices" />
                <binding name="BasicHttpBinding_ILoginService" />
                <binding name="BasicHttpBinding_IUserSettingsServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MetrixDistributedService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerServices"
                contract="MetrixDistributedService.ICustomerServices" name="BasicHttpBinding_ICustomerServices" />
            <endpoint address="http://localhost:8080/MetrixDistributedService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeServices"
                contract="MetrixDistributedService.IEmployeeServices" name="BasicHttpBinding_IEmployeeServices" />
            <endpoint address="http://localhost:8080/MetrixDistributedService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductServices"
                contract="MetrixDistributedService.IProductServices" name="BasicHttpBinding_IProductServices" />
            <endpoint address="http://localhost:8080/MetrixDistributedService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISupplierServices"
                contract="MetrixDistributedService.ISupplierServices" name="BasicHttpBinding_ISupplierServices" />
            <endpoint address="http://localhost:8080/MetrixDistributedService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvoiceServices"
                contract="MetrixDistributedService.IInvoiceServices" name="BasicHttpBinding_IInvoiceServices" />
            <endpoint address="http://localhost:8080/MetrixDistributedService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderServices"
                contract="MetrixDistributedService.IOrderServices" name="BasicHttpBinding_IOrderServices" />
            <endpoint address="http://localhost:8080/MetrixDistributedService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
                contract="MetrixDistributedService.ILoginService" name="BasicHttpBinding_ILoginService" />
            <endpoint address="http://localhost:8080/MetrixDistributedService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserSettingsServices"
                contract="MetrixDistributedService.IUserSettingsServices"
                name="BasicHttpBinding_IUserSettingsServices" />
        </client>
    </system.serviceModel>
</configuration>